#internationalization {
    text-align: center;
  
    h1 {
      font-size: 2em;
    }
  
    p {
      font-size: 1.5em;
    }
  
    button {
      padding: 10px 20px;
      font-size: 1.2em;
      margin-right: 10px;
    }
  }